body{
    background-color: dimgrey;
}

.logo{
    margin: 0 20px 0 20px;
}

.Principal{
    display: grid;
    place-items: center;
}

.Principal h1{
    color: black;
    margin: 70px 0 50px 0;
}


p{
    color: black;
    font-size: 30px;
    margin-left: 50px;
}